
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0px !important;
    font-weight: 300;
    width: 100%;
    background: linear-gradient(100deg, rgba(26,89,119,1) 15%, rgba(65,152,198,1) 100%); 

}

.info, .navbar, .header-expand {
    width: 80% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.navbar{
    padding: 0 !important;
}

.header-expand{
    flex-direction: column;
}

.info, .info a, .info a:hover{
    color: white;
    text-decoration: none;
}

.info{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
    width: 100%;
} 

.logo{
    height: 12vh;
}
header{
    background: linear-gradient(100deg, rgba(26,89,119,1) 15%, rgba(65,152,198,1) 100%); 
    padding: 0 10%;
    color: white;
}


nav .navbar-nav li a{
    color: white !important;
    padding-left: 1rem !important;
    margin-left: 3rem !important;
    font-size: 1.15rem !important;
    font-weight: 400;
}

header .header-expand{
    padding: 1rem;

}

.header-expand > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 700;
} 



.header-expand h3 {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5;
    opacity: 0.9;
}

main{
    font-family: 'Montserrat', sans-serif;
}


.intro{
    display: grid;
    grid-template-columns: 50% 50%;
}

.intro-text{
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20%;
    color: #1E262C;

}

.intro-text h4{
    font-size: 2rem;
    font-weight: 600;
}

.intro-text .divider{
    width: 5rem;
    padding-bottom: 2rem;
}

.intro-img, .intro-img img{
    width: 49.4vw;
    height: auto;
}

.contact-info{
    padding-top: 2rem
}

.contact-card{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.contact-card img{
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
}

.contact-card h3{
    color: #1586BD;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 0.2rem
}

.main-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5rem 0;

}

.Formulario_conectado_com_planilha_google{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
}


.get-in-touch{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #1587c0b3;
    border-radius: 20px;
    color: white;
}

.get-in-touch h3{
    font-weight: 700;
    font-size: 1.8rem;
    align-self: center;
}

.get-in-touch label{
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.get-in-touch input, .get-in-touch textarea{
    border-radius: 10px;
    border: none;
}

.get-in-touch input[type="text"], .get-in-touch input[type="email"], .get-in-touch input[type="tel"]{
    width: 80%;
}

.get-in-touch textarea{
    margin-bottom: 2.5rem;
}

.get-in-touch input[type="submit"]{
    width: 40%;
    height: 3rem;
    align-self: center;
    background-color: white;
    color: #1586C0;
    font-weight: 700;
    cursor: pointer;
}

.get-in-touch input[type="submit"]:hover{
    color: white;
    background-color: #1586C0;
}

.card-info{
    display: flex;
    flex-direction: column;
}

.card-item{
    padding: 2.5rem 0;
}

.hr-func{
    display: flex;
}

.hr-func img{
    width: 50%;

}

.func{
    width: 100%;
    height: 90%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.func h3{
    font-size: 1.2rem;
}
.func h3, .hours{
    text-align: center;
    font-weight: 600;
    color: #1586C0;
}

.days-hours-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.days p, .hours p{
    padding: 0.5rem 0;
}

@media(max-width: 900px){
    
    .main-container{
        width: 100%;
    }

    .Formulario_conectado_com_planilha_google{
        width: 100%;
        background-color: #1586C0;
    }
    
    .get-in-touch{
        padding: 3rem 0;
    }
}

@media (max-width: 1200px){
    .info{
        flex-direction: column;
        align-items: center;
    }

    .info span {
        padding: 10px
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 10vh auto;
    }

    .intro-text{
        margin: 0;
        width: 80%;
        padding: 10vh;
    }

    .intro-img, .intro-img img{
        width: 100%;
        height: auto;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .card-info{
        order: 1;
    }

    .Formulario_conectado_com_planilha_google{
        order:2;
    }

    .hr-func{
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;

    }

    .hr-func img{
        display: none;
    }

    .days-hours-container{
        justify-content: space-around;
        padding-top: 2rem;
    }

    .embed-map{
        height: 70vh;
        margin-bottom: 5rem;
    }

    .get-in-touch{
        height: 100vh;
        width: 70%;
        margin: 0 auto;
    }

    footer{
        position: absolute;
        top: 519vh
    }
}
