body{
    font-family: "Montserrat", Sans-serif;
    background-color: #F7FAFB;
}

body a, a:hover {
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* -------------------- CSS DA HEADER --------------------*/

header {
    display: flex;
    width: 100vw;
    height: 118vh;
    background-size: cover;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Montserrat", Sans-serif;
    font-size: large;
    color: white;
}

#carouselExampleIndicators{
    width: 100vw;
    height: fit-content;
}

.carousel-indicators li {
    position: relative;
    bottom: 55px;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #1d4e8989;
    margin: 10px;
}


@keyframes fadeAndScale {
    0% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    70% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

@keyframes goingUp {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* $el .x-text-content-text-primary {
    animation: fadeAndScale 2s cubic-bezier(.39,-1.05,.58,1.95);
    transform-origin: center bottom;
} */



.slgn, .slgn-str{
    position: absolute;
    left: 18.4rem;
    animation: goingUp 1s;
    font-size: 3rem;
    font-family: "Montserrat", Sans-serif;
}

.slgn-str{
    top: 18rem;
    font-weight: 700;
    letter-spacing: -3px;
}

.slgn{
    top: 21.3rem;
    font-weight: 300;
    line-height: 1.3rem;
    letter-spacing: -3px;
}


.btn-consulta, .btn-contato{
    position: absolute;
    top: 26.5rem;

    animation: fadeAndScale 1s cubic-bezier(.39,-1.05,.58,1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.btn-consulta{
    left: 20rem;
    color: #1C85BC;
    background-color: #ffffff;
    border-color: #ffffff00;
}

.btn-consulta:hover{
    background-color: #1C85BC;
    color: #ffffff;
}

.btn-contato{
    left:32.5rem;
    background-color: #ffffff18;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-contato:hover{
    background-color: #ffffff;
    color: #1C85BC
}

.logo {
    width: 249.5px;
    height: 83px;
}



header .navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    background-color: #c5c6c64c;
    height: 150px;
}

header .info {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    width: 100vw;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 62px;
}

header .info a, .info span {
    padding-top: 10px;
    font-weight: 350;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    align-items: center;    
}


nav .paginas {
    padding-left: 60px;
    margin-left: 10px;
}


/* =============================== 
como aplicar borda na info
=================================*/


/* -------------------- CSS DA MAIN --------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card-info{
    position: relative;
    bottom: 15rem;
    width: 75vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2rem 1rem 0rem 1rem;
    animation: goingUp 1s;
    align-self: center;
}

.card-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    font-size: 14px;
    color: #42474c;
    line-height: 22.4px;
    font-weight: 500;
}


.card-img{
    width: 300px;
    height: 200px;
    align-self: center;
}

.card-item > h3{
    font-weight: 600;
    color:#1C85BC;
    font-size: 1.3rem;
    text-align: center;
}

.hr-func{
    border-bottom: 7px solid #6cc8df ;
}

.func{
    display: flex;
    justify-content: space-between;  

}

.hours{
    color: #2a93c9;
    font-weight: 600;
}

.google-map{
    border-bottom: 7px solid #56B0D2 ;

}

.ctt-emergencia{
    border-bottom: 7px solid #2a88c9 ;
}

.ctt-emergencia a, .ctt-emergencia a:hover{
    display: flex;
    color: #1a5977;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1
}
.emergency-contact{
    display: flex;
    margin: 0 auto;
}

.phone-icon{
    width: 2rem;
    height: 2rem;
}

.differentials{
    position: relative;
    bottom: 10rem;
    width: 75vw;
    align-self: center;
    margin-bottom: 3rem;
}

.differentials .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
}

.differentials .divider{
    width: 8rem;
    margin-left: 1.6rem;
    margin-bottom: 3rem;
}

.differentials-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 1.8rem;
    padding: 0 2rem; 
}

.differentials-cards h3{
    font-weight: 600;
    font-size: 20px;
}

.differentials-cards img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.diff-cards-item{
    padding: 20px;
}

.diff-cards-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02, 1.02);
}

.departments{
    position: relative;
    bottom: 10rem;
    width: 75vw;
    align-self: center;
    margin: 2rem;
}

.departments .divider{
    
    width: 8rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;

}

.dep-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    margin: auto;
}

.dep-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dep-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05, 1.05);
}

.dep-item img{
    width: 90px;
    height: 90px;
    align-self: center;
    margin-bottom: 1.5rem;
}

.dep-item h3{
    font-weight: 500;
    font-size: 20px;
    padding: 1rem 0;
}

.departments .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
}

.planos{
    margin: auto;
    width: 75vw;
    position: relative;
    bottom: 7rem;
}
.planos .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
} 

.planos .divider{
    width: 8rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;
}

.planos-cards{
    text-align: center;
}
.planos-cards img {
    height: 180px;
    width: 180px;
    background-color: white;
    margin: 1rem;
    border-radius: 20px;
}

/* -------------------- CSS DO FOOTER --------------------*/

footer{
    height: 300px;
    background-color: #919BA6;
}