header {
    display: flex;
    width: 100%;
    height: 55rem;
    background-size: cover;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: large;
    color: white;
}

#carouselExampleIndicators{
    width: 100%;
    height: fit-content;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #1d4e8989;
    margin: 15px;
}

.btn{
font-size: 25px;
color: #1c558e;
background-color: #1c558e00;
padding: 10px 60px;
border: solid #0066cc 1px;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
border-radius: 50px;
transition : 700ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{
transition : 700ms;
padding: 10px 60px;
transform : translateY(-12px);
background-color: #1c558ec1;
color: #ffffff;
border: solid 1px #0066cc;
}

.logo {
    width: 249.5px;
    height: 83px;
}

header .navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: #c5c6c64c;
    height: 150px;
}

header .info {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 62px;
}

header .info a, .info span {
    padding-top: 10px;
    font-weight: 350;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    
}

nav .paginas {
    padding-left: 60px;
    margin-left: 10px;
}

nav a,
nav a:hover {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.55rem;
    font-weight: 500;
}



/* =============================== 
Como fazer carrosel
como aplicar borda na info
=================================*/