html, body{
    font-family: "Montserrat", Sans-serif;
    background-color: #F7FAFB;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

body a, a:hover {
    color: white;
}

/* -------------------- CSS DA HEADER --------------------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0px !important;
    font-weight: 300;
    width: 100vw;
    background-size: cover;
    justify-content: space-around;
    color: white;
}

.navigation{
    z-index: 3;
    position: absolute;
    top:0;
    left: 0;
    background-color: #c5c6c64c;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5vh;
}

.info{
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
} 

.info, .navbar {
    width: 80% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.navbar{
    padding: 0 !important;
    padding-bottom: 1px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.492) !important;
}

.logo{
    height: 12vh;
}

nav .navbar-nav li a{
    color: white !important;
    padding-left: 1rem !important;
    margin-left: 3rem !important;
    font-size: 1.15rem !important;
    font-weight: 400;
}


#carouselExampleIndicators{
    z-index: 1;
    width: 100vw;
    height: fit-content;
}

.carousel-indicators li {
    position: relative;
    bottom: 55px;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #1d4e8989;
    margin: 10px;
}


@keyframes fadeAndScale {
    0% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    70% {
        opacity: 0;
        transform: scale3d(.75,.75,1);
    }

    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

@keyframes goingUp {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.slgn, .slgn-str{
    position: absolute;
    left: 18.4rem;
    animation: goingUp 1s;
    font-size: 3rem;
    font-family: "Montserrat", Sans-serif;
}

.slgn-str{
    top: 18rem;
    font-weight: 700;
    letter-spacing: -3px;
}

.slgn{
    top: 21.3rem;
    font-weight: 300;
    line-height: 1.3rem;
    letter-spacing: -3px;
}


.btn-consulta, .btn-contato{
    position: absolute;
    top: 26.5rem;

    animation: fadeAndScale 1s cubic-bezier(.39,-1.05,.58,1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.btn-consulta{
    left: 20rem;
    color: #1C85BC;
    background-color: #ffffff;
    border-color: #ffffff00;
}

.btn-consulta:hover{
    background-color: #1C85BC;
    color: #ffffff;
}

.btn-contato{
    left:32.5rem;
    background-color: #ffffff18;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-contato:hover{
    background-color: #ffffff;
    color: #1C85BC
}

.img-mobile{
    display: none;
}


/* -------------------- CSS DA MAIN --------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card-info{
    z-index: 4;
    position: relative;
    bottom: 3rem;
    width: 75vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2rem 1rem 0rem 1rem;
    animation: goingUp 1s;
    align-self: center;
}

.card-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    font-size: 14px;
    color: #42474c;
    line-height: 22.4px;
    font-weight: 500;
}


.card-img{
    width: 300px;
    height: 200px;
    align-self: center;
}

.card-item > h3{
    font-weight: 600;
    color:#1C85BC;
    font-size: 1.3rem;
    text-align: center;
}

.hr-func{
    border-bottom: 7px solid #6cc8df ;
}

.func{
    display: flex;
    justify-content: space-between;  

}

.hours{
    color: #2a93c9;
    font-weight: 600;
}

.google-map{
    border-bottom: 7px solid #56B0D2 ;

}

.ctt-emergencia{
    border-bottom: 7px solid #2a88c9 ;
}

.ctt-emergencia a, .ctt-emergencia a:hover{
    display: flex;
    color: #1a5977;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1
}
.emergency-contact{
    display: flex;
    margin: 0 auto;
}

.phone-icon{
    width: 2rem;
    height: 2rem;
}

.differentials{
    width: 75vw;
    align-self: center;
    padding: 1rem 0;
}

.differentials .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
}

.differentials .divider{
    width: 8rem;
    margin-left: 1.6rem;
    margin-bottom: 3rem;
}

.differentials-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 1.8rem;
    padding: 0 2rem; 
}

.differentials-cards h3{
    font-weight: 600;
    font-size: 20px;
}

.differentials-cards img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.diff-cards-item{
    padding: 20px;
}

.diff-cards-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02, 1.02);
}

.departments{
    width: 75vw;
    align-self: center;
    margin: 3rem 0;
    padding: 1rem 0;   
}

.departments .divider{
    width: 8rem;
    margin-bottom: 3rem;
    margin-left: 1.6rem;

}

.dep-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    margin: auto;
}

.dep-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dep-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05, 1.05);
}

.dep-item img{
    width: 90px;
    height: 90px;
    align-self: center;
    margin-bottom: 1.5rem;
}

.dep-item h3{
    font-weight: 500;
    font-size: 20px;
    padding: 1rem 0;
}

.departments .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
}

.planos{
    margin: 7rem auto 0 auto;
    padding: 1rem 0;
    width: 75vw;
    position: relative;
    bottom: 7rem;
}
.planos .title{
    padding: 0 1.5rem;
    font-weight: 600;
    color:#1E2428;
    font-size: 1.85rem;
    text-align: left;
    line-height: 3rem;
} 

.planos .divider{
    width: 8rem;
    margin-bottom: 3rem;
    margin-left: 3.6rem;
}

.planos-cards{
    text-align: center;
}
.planos-cards img {
    height: 180px;
    width: 180px;
    background-color: white;
    margin: 1rem;
    border-radius: 20px;
}


@media(max-width: 900px){

    #carouselExampleIndicators{
        display: none;
    }

    .img-mobile{
        display: block;
        position: relative; /* allows repositioning */
        height: 65vh;
        top: 31.20vh;
        left: 100%; /* move the whole width of the image to the right */
        margin-left: -200%; /* magic! */
        
    }

    .card-item{
        width: 100%;
    }
 
    .google-map iframe{
        width: 100%;

    }

    .differentials{
        margin-top: 10vh;
    }

    .planos{
        margin-top: -5vh;
    }

    .differentials, .departments, .planos{
        bottom: 0;
    }

    .differentials > .title, .departments > .title, .planos > .title{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #1D4E89;
        border-bottom: 3px solid #1D4E89;
        border-top: 3px solid #1D4E89;

    }

    .divider{
        display: none;
    }

    footer{
        position: absolute;
        top: 1250vh;
    }
}


@media(max-width: 1200px){

    p, span{
        font-size: 18px;
    }

    html, body {
        height: 100%;
        overflow-x: hidden;
    }

    .info{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .info span{
        padding: 10px;
        font-size: 14px;
    }

    .navigation{
        background-color: #1C85BC;
    }

    #carouselExampleIndicators{
        position: absolute;
        top: 31.20vh;
    }

    .carousel-inner{
        height: 100% !important;
        max-height: 60vh !important;
    }

    .carousel-item{
        position: relative !important;
    }

    .carousel-indicators{
        display: none;
    }

    .slgn, .slgn-str{
        position: absolute;
        left: 2.5rem;
    }
    
    .slgn-str{
        position: absolute;
        top: 7vh;
    }
    
    .slgn{
        position: absolute;
        top: 14vh;
        font-weight: 300;
        line-height: 1.3rem;
        letter-spacing: -3px;
    }
    
    
    .btn-consulta, .btn-contato{
        position: absolute;
        top: 22vh;
        font-size: 15px;
    }

    .btn-consulta{
        left: 2.5rem;
    }

    .btn-contato{
        left: 18rem;
    }


    main {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 91.20vh;
        width: 100%;        
    }

    .card-info{
        position: static;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card-img{
        margin-top: 30px;
        width: 90%;
        height: auto;
    }
    .card-item > h3{
        font-size: 30px;
        padding-bottom: 1.5rem;
    }

    .card-item > iframe{
        width: 432px;
    }

    .differentials{
        position: relative;
        bottom: 10vh;
    }

    .differentials-cards{
        display: flex;
        flex-direction: column;
    }
    
    .departments{
        position: relative;
        bottom: 10vh;
        display: flex;
        flex-direction: column;
    }

    .dep-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dep-item > h3{
        font-size: 30px;
    }

    .dep-item img{
        width: 20vh;
        height: auto;
    }

    .planos{
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
        bottom: 25vh;
        width: 75%;
        height: 130vh;
    }

    .planos-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .planos-cards img{
        width: 30vh;
        height: auto;
    }


    footer{
        height: auto;
        position: absolute;
        top: 1180vh;
    }

    .footer-info{
        font-size: 19px;
        display: flex;
        flex-direction: column;
    }

    .footer-item{
        align-self: center;
        align-items: center;
        width: 60vh;
    }

    .footer-item > .title{
        padding: 0;
        margin: auto;
    } 

}
