html, body {
    margin: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0px !important;
    font-weight: 300;
    width: 100%;
    background: linear-gradient(100deg, rgba(26,89,119,1) 15%, rgba(65,152,198,1) 100%); 

}

.info, .navbar, .header-expand {
    width: 80% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.navbar{
    padding: 0 !important;
}

.header-expand{
    flex-direction: column;
}

.info, .info a, .info a:hover{
    color: white;
    text-decoration: none;
}

.info{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    text-decoration: none;
    padding-top: 15px;
    color: white;
    width: 100%;
} 

.logo{
    height: 12vh;
}
header{
    background: linear-gradient(100deg, rgba(26,89,119,1) 15%, rgba(65,152,198,1) 100%); 
    padding: 0 10%;
    color: white;
}


nav .navbar-nav li a{
    color: white !important;
    padding-left: 1rem !important;
    margin-left: 3rem !important;
    font-size: 1.15rem !important;
    font-weight: 400;
}

header .header-expand{
    padding: 1rem;

}

.header-expand > h1 {
    font-family: 'Montserrat' sans-serif;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 700;
} 



.header-expand h3 {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5;
    opacity: 0.9;
}


main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}



.main-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;
    font-size: larger;
}

.main-row img{
    width: 100%;
    height: 100%;
}

.google-map{
    margin: auto;
}

.formulario{
    background-color: #56B0D2;
}

.marcar-consulta{
    display: flex;
    flex-direction: column;
}

.Formulario_conectado_com_planilha_google{
    margin: 2rem auto;
    color: white;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;

}

.Formulario_conectado_com_planilha_google h3{
    font-size: 1.5rem;
    padding: 0.8rem;
    font-weight: 700;
    text-align: center;

}

.Formulario_conectado_com_planilha_google label{
    font-weight: 500;
}


#profissional, #especialidade, #nome, #telefone, #date, #horario{
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

input[type="text"], input[type="tel"], input[type="date"], input[type="time"], select, option, ::placeholder
{
    background: transparent;
    border: none;
}

input[type="text"], input[type="tel"], input[type="date"], input[type="time"], select, option
{
    color:rgba(255, 255, 255, 0.771);
    border-bottom: 1px solid rgba(255, 255, 255, 0.518);
}
  

input[type="submit"]{
    background: white;
    border: none;
    color: #0a86b3 ;
    border-radius: 10px;
    padding: 15px;
    font-weight: 500;
}


input[type="submit"]:hover, input[type="submit"]:focus{
    background: rgb(22,103,154);
    background: linear-gradient(100deg, rgba(22,103,154,1) 100%, rgba(4,166,194,1) 100%);
    color: white;
    cursor: pointer;

}


@media (max-width: 990px){
    .info{
        flex-direction: column;
        align-items: center;
    }

    .info span {
        padding: 10px
    }
}



/* ------------------ PARA TABLET ------------------*/
@media(max-width: 1200px){

    html, body {
        height: 100%;
    }
    main {
        max-height:min-content;
    }

    .info{
        font-size: 14px;
        padding: 10px 0;
    }
    .main-row{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 70vh;
    }

    .formulario{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 5.5rem 0;
    }

    .google-map{
        width: 90%;
        height: 80vh;
        margin: 5vh 0;
        justify-self: center;
    }

    .appointment-nurse{
        display: none;
    }

    .Formulario_conectado_com_planilha_google{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .marcar-consulta{
        justify-content: space-evenly;
        height: 70vh;
    }

    footer{
        margin-top: -65vh;
        height: 1500px;
        position: static;
    }

    .footer-info{
        font-size: 19px;
        display: flex;
        flex-direction: column;
    }

    .footer-item{
        align-self: center;
        align-items: center;
        width: 100vw;
    }

    .footer-item > .title{
        padding: 0;
        margin: auto;
    }      
    
    .footer-item-content-text{
        width: auto;
    }

} 

 